---
---

@import "minima";


.notice {
  background: #d4edda;
  padding: .75rem 1.25rem;
  color: #444;
  margin: 30px 0 20px;
}

.small {
  font-size: 0.8em;
}

.gray {
  color: rgba(0, 0, 0, 0.3)
}

.center {
  text-align: center;
}